name: Architectural Fitness Tests

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "master" ]

jobs:
  architectural-fitness-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/krypton'
      
      - name: Install dependencies
        working-directory: architecture-tests
        run: npm ci
      
      - name: Run tests
        working-directory: architecture-tests
        run: npm test

