name: Architectural Fitness Tests

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "master" ]

jobs:
  architectural-fitness-tests:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
    
    env:
      CI: true
    
    defaults:
      run:
        working-directory: architecture-tests
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: 'architecture-tests/.nvmrc'
          cache: 'npm'
          cache-dependency-path: 'architecture-tests/package-lock.json'
      
      - name: Install dependencies
        run: npm ci
      
      - name: Run tests
        run: npm test

