name: Personal Webapp CI

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "master" ]

jobs:
  personal-webapp-ci:
    name: Build and Test Web App
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
    
    env:
      CI: true
    
    defaults:
      run:
        working-directory: personal-webapp
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: 'personal-webapp/.nvmrc'
          cache: 'npm'
          cache-dependency-path: 'personal-webapp/package-lock.json'
      
      - name: Install dependencies
        run: npm ci
      
      - name: Run ESLint
        run: npm run lint
      
      - name: Run Tests
        run: npm run test:coverage

      - name: Build Next.js application
        run: npm run build
